.blogs-page{
    text-align: left;
    padding: 50px 0px;
}
.header{
    text-align: left;
}
.post-body{
    text-align: left;
}
.comment-header{
    text-align: left;
}
.comment-body{
    text-align: left;
}